@charset "UTF-8";
/*------------------------------------*\
    # SHAUN BENT
\*------------------------------------*/
:root {
  --s--1: calc(8px / 2);
  --s-0: 0;
  --s-1: calc(8px * 1);
  --s-2: calc(8px * 2);
  --s-3: calc(8px * 3);
  --s-4: calc(8px * 4);
  --s-5: calc(8px * 5);
  --s-6: calc(8px * 6);
  --s-7: calc(8px * 7);
  --s-8: calc(8px * 8);
  --s-9: calc(8px * 9);
  --s-10: calc(8px * 10);
}

:root {
  --c-white: #ffffff;
  --c-seasalt: #f8f9fa;
  --c-antiflash-white: #e9ecef;
  --c-platinum: #dee2e6;
  --c-french-gray: #ced4da;
  --c-french-gray-2: #adb5bd;
  --c-slate-gray: #6c757d;
  --c-outer-space: #495057;
  --c-onyx: #343a40;
  --c-eerie-black: #212529;
  --c-stockholm-black: #121212;
  --c-black: #000000;
}
:root [data-theme=light] {
  --c-bg: var(--c-white);
  --c-text: var(--c-onyx);
  --c-text-highlight: var(--c-eerie-black);
  --c-text-pressed: var(--c-stockholm-black);
  --c-text-subdued: var(--c-outer-space);
  --c-decorative: var(--c-french-gray);
}
:root [data-theme=dark] {
  --c-bg: var(--c-stockholm-black);
  --c-text: var(--c-platinum);
  --c-text-highlight: var(--c-antiflash-white);
  --c-text-pressed: var(--c-seasalt);
  --c-text-subdued: var(--c-french-gray);
  --c-decorative: var(--c-french-gray-2);
}

:root {
  --base-font-size: 1rem;
  --base-line-height: 1.5;
  --heading-line-height: 1.15;
  --h1: 3.8146972656rem;
  --h2: 3.0517578125rem;
  --h3: 2.44140625rem;
  --h4: 1.953125rem;
  --h5: 1.5625rem;
  --h6: 1.25rem;
  --small: 0.8rem;
}

/*! normalize.css v4.2.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif; /* 1 */
  line-height: 1.15; /* 2 */
  -ms-text-size-adjust: 100%; /* 3 */
  -webkit-text-size-adjust: 100%; /* 3 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary { /* 1 */
  display: block;
}

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font: inherit; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*------------------------------------*\
    # RESET
\*------------------------------------*/
/**
 * Oooooo smooth
 */
html {
  -webkit-font-smoothing: antialiased;
}

/**
 * As well as using normalize.css, lets use this basic reset
 * on top of normalize
 */
body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
figure,
table, th, td, caption,
hr {
  margin: 0;
  padding: 0;
}

/**
 * Remove bold
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

/**
 * Give a help cursor to elements that give extra info on `:hover`.
 */
abbr[title],
dfn[title] {
  cursor: help;
}

/**
 * Remove underlines from potentially troublesome elements.
 */
u,
ins {
  text-decoration: none;
}

/**
 * Apply faux underlines to inserted text via `border-bottom`.
 */
ins {
  border-bottom: 1px solid;
}

/**
 * Remove trailing margins from nested lists.
 */
li > ol,
li > ul {
  margin-bottom: 0;
}

/**
 * Remove default table spacing.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*------------------------------------*\
    # BOX SIZING
\*------------------------------------*/
/**
 * `border-box` box-sizing makes much more sense than the
 * browser default, as such as set this globally on all elements
 *
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*------------------------------------*\
    # PAGE
\*------------------------------------*/
:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/**
 * Simple page-level setup.
 *
 * 1. Calculate the root font-size in rem
 * 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 3. Ensure the page always fills at least the entire height of the viewport.
 */
html {
  font-family: var(--system-ui);
  font-size: 1rem/16rem; /* [1] */
  line-height: 1.5;
  font-weight: 400;
  overflow-y: scroll; /* [1] */
  min-height: 100%; /* [2] */
}

body {
  color: var(--c-text);
  background-color: var(--c-bg);
}

/*------------------------------------*\
    # HEADINGS
\*------------------------------------*/
h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

h6 {
  font-size: var(--h6);
}

small {
  font-size: var(--small);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--c-text-highlight);
  line-height: var(--heading-line-height);
  margin-block-start: 2.25rem;
  margin-block-end: 1rem;
  font-weight: bold;
}

p {
  margin-block: 1rem;
}

a {
  color: var(--c-text-highlight);
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: var(--c-decorative);
  text-underline-offset: var(--s--1);
}
a:active, a:hover {
  text-decoration-color: var(--c-text-highlight);
}

/*------------------------------------*\
    # IMAGES
\*------------------------------------*/
/**
 * 1. Fluid images for responsive purposes.
 * 2. Offset `alt` text from surrounding copy.
 * 3. Setting `vertical-align` removes the whitespace that appears under `img`
 *    elements when they are dropped into a page as-is. Safer alternative to
 *    using `display: block;`.
 */
img {
  max-width: 100%; /* [1] */
  font-style: italic; /* [2] */
  vertical-align: middle; /* [3] */
}

/**
 * 1. If a `width` and/or `height` attribute have been explicitly defined, let’s
 *    not make the image fluid.
 */
img[width],
img[height] { /* [1] */
  max-width: none;
}

/*------------------------------------*\
    # LIST BARE
\*------------------------------------*/
/**
 * Strip list-like appearance from lists by removing their bullets, and any
 * indentation.
 */
.o-list-bare {
  list-style: none;
  margin-left: 0;
}

/*------------------------------------*\
    # LIST INLINE
\*------------------------------------*/
/**
 * The list-inline object simply displays a list of items in one line.
 */
.o-list-inline {
  margin-left: 0;
  list-style: none;
}

.o-list-inline__item {
  display: inline-block;
}

/**
 * Delimited list.
 *
 * By default, applying this class will comma separate your list items. You can
 * change the delimiter by predefining the following variable:
 */
.o-list-inline--delimited {
  font-size: 0;
}
.o-list-inline--delimited > .o-list-inline__item {
  font-size: 1rem;
}
.o-list-inline--delimited > .o-list-inline__item + .o-list-inline__item:before {
  content: ", ";
}

/*------------------------------------*\
    # WRAP
\*------------------------------------*/
/**
 * A generic wrapper class to keep the content contained and consistent
 *
 * 1. Inherit any height from the parent element, useful for 100vh stuff
 */
.o-wrap {
  max-width: 1024px;
  height: inherit; /* [1] */
  margin: 0 auto;
  padding-inline: var(--s-3);
}

/*------------------------------------*\
    # PAGE
\*------------------------------------*/
.c-page {
  padding: var(--s-6);
}
@media (min-width: 46.25em) {
  .c-page {
    padding: var(--s-8);
  }
}

@media (min-width: 61.25em) {
  .c-page__columns {
    display: flex;
  }
}

@media (min-width: 61.25em) {
  .c-page__primary {
    flex: 1 1 100%;
  }
}

@media (min-width: 61.25em) {
  .c-page__secondary {
    min-width: 350px;
    max-width: 650px;
    flex: 1 1 100%;
    padding-right: var(--s-10);
  }
}

.c-page__footer {
  margin-block-start: var(--s-4);
  border-block-start: 1px solid var(--c-decorative);
  padding-block-start: var(--s-1);
}

/*------------------------------------*\
    # MASTHEAD
\*------------------------------------*/
/**
 * 1. Stick the masthead in place when the scroll point passes out page body
 */
.c-masthead {
  padding-block-end: var(--s-4);
  border-block-end: 1px solid var(--c-decorative);
  margin-block-end: var(--s-4);
}
@media (min-width: 46.25em) and (max-width: 61.24em) {
  .c-masthead {
    display: flex;
    flex-wrap: wrap;
    gap: var(--s-4);
  }
}
@media (min-width: 61.25em) {
  .c-masthead {
    position: sticky; /* [1] */
    top: var(--s-8); /* [1] */
    padding-block-end: 0;
    border-block-end: none;
    margin-block-end: 0;
  }
}

.c-masthead__image {
  width: 180px;
  height: 180px;
  aspect-ratio: 1/1;
  background-color: var(--c-decorative);
  border-radius: 400px;
  overflow: hidden;
}
@media (min-width: 46.25em) and (max-width: 61.24em) {
  .c-masthead__image {
    flex: 0 0 auto;
  }
}

@media (min-width: 46.25em) and (max-width: 61.24em) {
  .c-masthead__bio {
    flex: 1 1 100%;
    flex-basis: min-content;
  }
}
@media (min-width: 61.25em) {
  .c-masthead__bio {
    margin-block-start: var(--s-2);
  }
}

.c-masthead__bio-title {
  margin-block: 0;
}
.c-masthead__bio-title a {
  font-size: var(--h3);
  font-weight: bold;
  text-decoration: none;
  color: var(--c-text);
}
.c-masthead__bio-title a:active, .c-masthead__bio-title a:hover {
  color: var(--c-text-pressed);
}

/**
 * 1. Remove any top margin from the first child
 */
.c-masthead__bio-blurb {
  font-size: var(--h6);
}
.c-masthead__bio-blurb > :first-child {
  margin-block-start: 0; /* [1] */
}

@media (min-width: 46.25em) and (max-width: 61.24em) {
  .c-masthead__bio-socials {
    flex-basis: 100%;
  }
}

.c-masthead__theme-toggle {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  width: 30px;
  height: 30px;
}

/*------------------------------------*\
    # ARCHIVE
\*------------------------------------*/
.c-archive__title {
  font-size: var(--h3);
  margin-block-start: 0;
}

.c-archive__group-title {
  font-size: var(--h4);
}

.c-archive__item + .c-archive__item {
  margin-block-start: var(--s-1);
}

@media (min-width: 46.25em) {
  .c-archive__item-details {
    display: flex;
    justify-content: space-between;
  }
}

.c-archive__item-title {
  font-size: var(--h6);
}

.c-archive__item-date {
  margin-block: 0;
  color: var(--c-text-subdued);
}
@media (min-width: 46.25em) {
  .c-archive__item-date {
    align-content: center;
    flex-basis: 130px;
    flex-shrink: 0;
    text-align: right;
  }
}

.c-archive__item-blurb {
  margin-block-start: var(--s-1);
}
.c-archive__item-blurb > :first-child {
  margin-block-start: 0;
}

/*------------------------------------*\
    # CLEARFIX
\*------------------------------------*/
/**
 * Attach our clearfix mixin to a utility class.
 */
.u-clearfix:after {
  content: "" !important;
  display: block !important;
  clear: both !important;
}

/*------------------------------------*\
    # VISIBILITY
\*------------------------------------*/
/**
 * Hide only visually, but have it available for screen readers
 */
.u-hidden-visually {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  border: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
}

/**
 * Hide visually and from screen readers.
 */
.u-hidden {
  display: none !important;
}

/*# sourceMappingURL=style.css.map */
