<div class="o-frame">
  <div class="o-wrap">
    <div class="o-frame__content">
      <h1>Hej Värld!</h1>
      <p>(Hello World)</p>
      <!-- <div class="o-media">
        <div class="o-media__img">
          <img src="assets/images/shaun-bent-poly.jpg" alt="Shaun Bent" />
        </div>
        <div class="o-media__body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac justo a purus gravida viverra ac ac augue. Ut eu commodo lacus. Duis eros eros, eleifend in lacus nec, ultricies lacinia nibh.</p>
          <p>Quisque mollis nulla quis odio blandit tincidunt. Quisque vel nisl neque. Morbi non viverra ipsum, sit amet sodales arcu.</p>
        </div>
      </div> -->
    </div>
  </div>
</div>
