<div class="o-frame">
  <div class="o-wrap">
    <div class="o-frame__content">
      <h1>Hej Värld!</h1>
      <p>(Hello World)</p>
    </div>
  </div>
</div>
<div class="o-frame o-frame--snow o-frame--fit">
  <div class="o-wrap">
    <div class="o-frame__content">
      <h1>Hej Värld!</h1>
      <p>(Hello World)</p>
    </div>
  </div>
</div>
<div class="o-frame">
  <div class="o-wrap">
    <div class="o-frame__content">
      <h1>Hej Värld!</h1>
      <p>(Hello World)</p>
    </div>
  </div>
</div>
