<div class="c-masthead [ o-frame o-frame--voodoo o-frame--fit ]">
  <div class="o-wrap">
    <div class="c-masthead__content [ o-frame__content ]">
      <h1 class="c-masthead__title">Front-end Architect</h1>
      <p class="c-masthead__summary">Sed aliquet nunc eget ipsum feugiat, eget porttitor nisi faucibus. Nam quis risus cursus, fringilla felis quis, convallis ex.</p>
      <!-- <p class="c-masthead__summary">A developer specialising in large scale CSS architecture and Design Systems</p> -->
    </div>
  </div>
</div>
