<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ title }}",
  "description": "{{ description | default(subtitle) }}",
  "image": {% if image %}{% set ogImageUrl = image | ogImage(page.inputPath) %}{% if ogImageUrl %}"{{ site.url }}{{ ogImageUrl }}"{% else %}"{{ site.url }}{{ site.image.default }}"{% endif %}{% else %}"{{ site.url }}{{ site.image.default }}"{% endif %},
  "datePublished": "{{ date | htmlDateString }}T00:00:00Z",
  {% if modifiedDate %}"dateModified": "{{ modifiedDate | htmlDateString }}T00:00:00Z",{% endif %}
  "author": {
    "@type": "Person",
    "name": "{{ site.author.name }}",
    "url": "{{ site.author.url }}"
  },
  "publisher": {
    "@type": "Person",
    "name": "{{ site.author.name }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.url }}/icon.png"
    }
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ site.url }}{{ page.url }}"
  }
}
</script>
