/*------------------------------------*\
    # MASTHEAD
\*------------------------------------*/

/**
 * The head of mast aka the big bit at the top of the page.
 *
 * 1. We sometimes get some random subpixel stuff with the clip-path
 *    in Chrome and you can see a little gap, put a border bottom on there
 *    sort of covers it up.
 */
.c-masthead {
  position: relative;
  z-index: 0;

  height: 75vh;
  // height: 85vh;

  color: $c-white;
  background-image: linear-gradient(140deg, #1d2671, $c-friend-rose);
  background-image: url('../images/pattern.svg');
  background-repeat: no-repeat;
  background-size: cover;

  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    display: block;
    height: 100px;

    background-color: $c-white;
    content: '';
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
  }
}

.c-masthead__logo {
  display: flex;
  justify-content: center;
  padding-top: baseline(4);
}

/**
 * 1. Include the height of the clip & some. TODO: come up with a better
 *    of handling this
 * 2. Get the height from the parent
 */
.c-masthead__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: baseline(4);
  padding-bottom: 100px + 80px; /* [1] */
  padding-left: baseline(4);
  height: inherit; /* [2] */
}

.c-masthead__title {
  position: relative;

  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center;

  &:after {
    display: block;
    width: 75%;
    height: 1px;
    margin: 24px auto 32px;

    content: '';
    background-color: $c-london-hue;
  }
}

.c-masthead__links-item + .c-masthead__links-item {
  margin-left: baseline(3);
}

.c-masthead__link {
  display: block;

  color: $c-white;
  transition: color .2s cubic-bezier(0.3, 0, 0.7, 1);

  &:hover {
    color: $c-friend-rose;
  }
}

.c-masthead__link-icon {
  width: 32px;
  height: 32px;
}
