<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title | default("Shaun Bent | Engineering Manager, Design System Leader & Accessibility Advocate") }}</title>
  <link rel="stylesheet" href="/css/style.css">
  <meta name="description" content="{{ description | default("Shaun Bent — an engineering manager, design system leader and accessibility advocate from the UK.") }}">
  <meta property="og:image" content="">
  <meta property="og:image:alt" content="">

  <link rel="icon" href="/favicon.ico" sizes="any">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/icon.png">

  <link rel="manifest" href="/site.webmanifest">
  <meta name="theme-color" content="#fafafa">
</head>

<body data-theme="light">
  {{ content | safe }}
</body>
</html>
