/*------------------------------------*\
    # WRAP
\*------------------------------------*/

/**
 * A generic wrapper class to keep the content contained and consistent
 *
 * 1. Inherit any height from the parent element, useful for 100vh stuff
 */
 .o-wrap {
  max-width: 1160px;
  height: inherit; /* [1] */
  margin: 0 auto;
  padding-right: triple($base-spacing-unit);
  padding-left: triple($base-spacing-unit);
}
