///*------------------------------------*\
//    # GLOBAL COLOURS
//\*------------------------------------*/

// core colours
$c-patrick-blue: #1d2671;
$c-voodoo: #452b45;
$c-friend-rose: #f64e8b;
$c-eggplant: #694c69;
$c-london-hue: #a88da8;
$c-white-snow: #f5f5f5;

// general colours
$c-black: #000;
$c-white: #fff;
