/*------------------------------------*\
    # LAYOUT FLEX
\*------------------------------------*/

/**
 * Grid-like layout system but with some added flexbox love
 *
 * Flex layout provides a modifier class for our layout system letting
 * layout-item share the same height on each row. It uses the flexbox property
 * and gently falls back in IE9.
 */


/**
 * Begin a flexbox layout group.
 *
 * 1. IE9 fallback.
 */

.o-layout--justified {
  display: block; /* [1] */
  display: flex;
  flex-wrap: wrap;
}

/**
 * 1. Same height for layout-items.
 */

.o-layout__item {
  .o-layout--justified & {
    display: flex; /* [1] */
  }
}

/**
 * Align layout items to the vertical centers of each other.
 */

.o-layout--middle {
  &.o-layout--justified {
    align-items: center;
  }
}

/**
 * Align layout items to the vertical bottoms of each other.
 */

.o-layout--bottom {
  &.o-layout--justified {
    align-items: flex-end;
  }
}

/**
 * Make the layout items fill up from the right hand side.
 */

.o-layout--right {
  &.o-layout--justified {
    justify-content: flex-end;
  }
}

/**
 * Make the layout items fill up from the center outward.
 */

.o-layout--center {
  &.o-layout--justified {
    justify-content: center;
  }
}
