---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {# Homepage #}
  <url>
    <loc>{{ site.url }}/</loc>
    <lastmod>{{ page.date | htmlDateString }}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
  </url>

  {# Blog posts from collection #}
  {% for post in collections.blog %}
    {# Skip unlisted posts #}
    {% if not post.data.unlisted %}
  <url>
    <loc>{{ site.url }}{{ post.url }}</loc>
    <lastmod>{{ post.data.modifiedDate | default(post.data.date) | htmlDateString }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
    {% endif %}
  {% endfor %}
</urlset>
